.Finduserwrap{
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
}
.findid_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Findusertitle{
    width: 1000px;
    display: flex;
    justify-content: start;
}
.FinduserinfoBox{
    width: 1000px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}  
.FindBox_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 300px;
}
.findid_form{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}
.find_input{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.findid_input_info{
    display: flex;
}