.assignform {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
.trafficAccident_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 950px;
}

h2{
    font-size: 24px; 
}
  
.trafficAccident_table {
    width: 850px;
    border-collapse: collapse;
    position: relative; 
}
  
.trafficAccident_th, .trafficAccident_td {
    border: 1px solid #ddd;
    padding: 8px;
}

.trafficAccident_th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 20px;
 }
  
.trafficAccident_th:first-child,
.trafficAccident_th:first-child {
    width: 100px;
} 
  
.write_button {
    display: inline-block;
    font-size: 1.2rem;
    background-color: #3cb371;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 20px;
}
  
div.complete {
    text-align: right;
    margin-top: 50px;
}
  
.btt_write {
    display: inline-block;
    font-size: 0.8rem;
    background-color: #3cb371;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 20px;
}